<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aemerse.quanage">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.aemerse.quanage.init.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.aemerse.quanage.activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.aemerse.quanage.activities.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name="com.aemerse.quanage.activities.EditExcludedActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/excluded_page_label"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.aemerse.quanage.activities.ProfileActivity" />
        <activity android:name="com.aemerse.quanage.utils.SelectedImage" />
        <activity android:name=".activities.ChatsDM" />
        <activity android:name=".activities.SelectedActivity" />
        <activity android:name=".utils.ImagesAndVideosActivity" />
    </application>
</manifest>
